<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:foo="http://www.lankio.com/schema/component"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd

http://www.lankio.com/schema/component http://www.lankio.com/schema/component/mycomponent.xsd

">



	<foo:component id="bionic-family" name="Bionic-1">
		<foo:component name="Sport-1" />
		<foo:component name="Rock-1" />
		<foo:component name="张三" />
	</foo:component>


	

</beans>